.renk-turkuaz {
    background-color: #9BEDFB;
    color:#333;
}
.renk-acik-mavi {
    background-color: #D7E3FF;
}
.renk-turuncu {
    background-color: #FFE2C8;
}
.renk-yesil {
    background-color: #61EFDD;
}
.renk-lacivert {
    background-color: #002575; 
    color: white;
}

.aciklama p{
    font-size: 18px;
    font-weight: lighter;
}

.menu a {
    color: #002575;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.menu a:hover {
    color:#ff6600;
    text-decoration: underline;
}

.genislik-100px {
    width: 100px;
}
.sonuc {
    font-size: 32px;
}
